##################################
# Unreal Engine 5.x
##################################

# Fichiers générés
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Fichiers Visual Studio / Rider
.vs/
.vscode/
*.sln
*.VC.db
*.VC.opendb

# Logs et temporaires
*.log
*.tmp

# Builds
Build/

##################################
# Assets lourds
##################################

# Exclure les cinématiques lourdes
Content/**/*.mp4
Content/**/*.mov

# Exclure textures HD inutiles
Content/**/Textures/*
